<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1 class="bold text-primary m-0">Pointlify</h1>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      *ngIf="this.authService.user$ | async as user; else login"
      class="navbar-nav ml-auto"
    >
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventory">Inventario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vender</a>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn-dropdown dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            {{ user.displayName }} <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li (click)="this.authService.signOut()" role="menuitem">
              <a class="dropdown-item" href="javascript:0">Salir</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <ng-template #login>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Inicia sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Registrate</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
