<div class="container mt-5">
    <h1>Agregar Nuevo</h1>
    <br />
    <div class="row">
        <div class="col-md-7">
            <form ngNativeValidte #f="ngForm" (ngSubmit)="submit(f)">
                <div class="form-group">
                    <label for="nombre">Nombre del producto</label>
                    <input ngModel name="name" type="text" class="form-control" id="nombre" required />
                </div>
                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <input ngModel name="category" type="text" class="form-control" id="categoria" required />
                </div>
                <div class="form-group">
                    <label for="Precio">Precio + IVA</label>
                    <input ngModel name="price" type="number" class="form-control" id="Precio" required />
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input ngModel name="description" type="text" class="form-control" id="descripcion" />
                </div>
                <div class="form-group form-check">
                    <input ngModel name="inStock" type="checkbox" class="form-check-input" id="inStock" />
                    <label class="form-check-label" for="inStock">En existencias</label>
                </div>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
        </div>
        <div class="col-md-5 container-bordered">
            Aquí puede ir lo de la foto del producto?
        </div>
    </div>
</div>