<section class="container mt-5">
    <div class="card auth-card">
        <div class="card-body">
            <h1 class="text-center">Inicia sesión</h1>

            <button (click)="this.authService.googleSignin()" class="btn btn-google btn-block">
                <img class="img-fluid img-logo-google" src="assets/Google__G__Logo.svg" alt="Google">
                <span>Acceder con
                    Google</span>
            </button>

            <button class="btn btn-facebook btn-block">
                <img class="img-fluid img-logo-facebook" src="assets/facebook-f-brands.svg" alt="Facebook">
                <span>Acceder con
                    Facebook</span>
            </button>

            <form>
                <p class="text-center mt-3">o</p>
                <div class="form-group">
                    <input type="email" class="form-control" aria-describedby="correo" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success btn-block">Inicia sesión</button>
                </div>
                <div class="text-center mt-3">
                    <span>¿Aún no tienes cuenta? </span>
                    <a href="#">Regístrate</a>
                </div>
            </form>
        </div>
    </div>
</section>