<section class="container mt-4">
    <div class="card auth-card">
        <div class="card-body">
            <h1 class="text-center">Inicia sesión</h1>

            <button (click)="this.authService.googleSignin()" class="btn btn-google btn-block">
                <img class="img-fluid img-logo-google" src="assets/Google__G__Logo.svg" alt="Google">
                <span>Acceder con
                    Google</span>
            </button>

            <button class="btn btn-facebook btn-block">
                <img class="img-fluid img-logo-facebook" src="assets/facebook-f-brands.svg" alt="Facebook">
                <span>Acceder con
                    Facebook</span>
            </button>

            <form ngNativeValidate #f="ngForm" (ngSubmit)="loginWithEmailAndPassword(f)">
                <p class="text-center mt-3">o</p>
                <div class="form-group">
                    <input ngModel name="email" type="email" class="form-control" aria-describedby="correo" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <input ngModel name="password" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="p-2 text-danger" *ngIf="error">
                    {{ error }}
                </div>
                <div class="text-center">
                    <button [disabled]="isLoading" type="submit" class="btn btn-success btn-block">
                        <span *ngIf="!isLoading; else spinner">Inicia sesión</span>
                        <ng-template #spinner>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </ng-template>
                    </button>
                </div>
                <div class="text-center mt-3">
                    <span>¿Aún no tienes cuenta? </span>
                    <a routerLink="/register">Regístrate</a>
                </div>
            </form>
        </div>
    </div>
</section>