<div class="container mt-5">
  <div class="header-action d-flex justify-content-between">
    <div class="header-action-text">
      <h1>Inventario</h1>
      <p>Administra tus productos</p>
    </div>
    <div class="header-action-button">
      <a routerLink="new" class="btn btn-success d-flex align-items-center">Agregar nuevo</a>
    </div>
  </div>

  <div *ngIf="!products" class="text-warning">
    <div class="alert alert-warning" role="alert">
      Aún no tienes productos, puedes empezar por agregar nuevos productos
      <a routerLink="new">aquí</a>
    </div>
  </div>
</div>